  	<nav class="navbar navbar-expand-lg">
  		<a class="navbar-brand" href="#"></a>
		<a class="navbar-brand" href="home">Home</a>
		<a class="navbar-brand" href="users">View Users</a>
		<a class="navbar-brand" href="viewIncidents">View Incidents</a>
		<a class="navbar-brand" href="map">Map</a>
		<a class="navbar-brand" href="addIncident">Incident</a>
		<a class="navbar-brand" href="addUser">Signup</a>
	</nav>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= render 'users' %>
 <script src="https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key="></script>
